.row {
	margin: 0px !important;
}

/*Header style starts*/

.header-container {
	padding: 20px 0px;
	text-align: center;
	border-bottom: 1px solid #E0E0E0;
	position: fixed;
	top: 0;
	background: #FFF;
	z-index: 1;
}

.logo-text {
	font-size: 20px;
    color: #616161;
}

nav {
	font-size: 16px;
}

/*Header style ends*/

/*Introduction style starts*/

.intro {
    background: url(https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050);
    height: 550px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 70px;
    position: relative;
}

.intro-text-container {
	position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    color: #FFF;
}

.heading-text {
	font-size: 90px;
}

.intro-description {
	font-size: 20px;
}

/*Introduction style ends*/

/*General section properties*/

.section-container {
	text-align: center;
	padding-top: 20px;
}

.section-heading {
	font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.section-container hr {
	border-color: #FFA000;
}

.section-container p {
	font-size: 18px;
    color: #616161;
}

/*General section properties ends*/

/*About style starts*/

.about-container .row {
	/*width: 100vw;*/
}

.about-container img {
	padding-bottom: 30px;
	width: 100%;
}

/*About style ends*/

/*What we do style starts*/

.p-hide {
	display: none;
}

/*What we do style ends*/

/*Media query starts*/
@media screen and (max-width: 420px) {
	.logo-text {
		font-size: 40px;
	}

	.intro {
		margin-top: 200px;
	}

	.heading-text {
		font-size: 50px;
	}
}

/*Media query ends*/

.dummy {
	height: 3000px;
}